* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  height: max-content;
  background: rgb(99, 250, 0);
  background: no-repeat
    linear-gradient(
      337deg,
      rgba(99, 250, 0, 1) 0%,
      rgba(0, 198, 164, 1) 43%,
      rgba(255, 130, 0, 1) 100%
    );
}
.content {
  width: 900px;
}
.all {
  border-radius: 50%;
}